body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  color: wheat;
}

.top_bar {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 100px;
}

.top_bar div {
  width: 33%;
}
.top_bar :nth-child(2) {
  text-align: center;
}
.top_bar :last-child {
  display: flex;
  justify-content: flex-end;
}
.ask_name {
  display: flex;
  justify-content: center;
}

.temperture {
  display: flex;
  flex-direction: row;
}

.hello {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  font-size: 30px;
  font-weight: 600;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.todoList {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.clock {
  display: flex;
  justify-content: center;
}

.todo_List {
  margin-top: 20px;
  font-weight: 600;
  font-size: larger;
  align-items: center;
  text-align: center;
}

.list_style {
  display: flex;
  justify-content: center;
}

.js-toDo {
  margin-right: 5px;
}

button {
  margin-left: 10px;
  height: 30px;
  width: 30px;
  font-weight: 500;
  background-color: cornsilk;
}

.dash {
  text-decoration: line-through;
}

.temperture {
  color: black;
  display: flex;
  text-align: center;
  text-shadow: none;
}
.temperture :last-child {
  font-size: 20px;
  text-align: center;
  margin-left: -10px;
}
.place {
  font-size: 25px;
  padding-left: 10px;
  font-weight: 600;
}

.bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.temperture {
  color: wheat;
}
